<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Authorization provider URIs -->
  <add key="ProductionAuthorizerUri" value="" />
  <add key="TestingAuthorizerUri" value="" />
  <add key="CertificationAuthorizerUri" value="" />
  
  <!-- Terminal Management Service URIs -->
  <add key="ProductionTmsUri" value="" />
  <add key="TestingTmsUri" value="" />
  <add key="CertificationTmsUri" value="" />
  
  <!-- Sale Affiliation Keys -->
  <add key="ProductionSak" value="" />
  <add key="TestingSak" value="" />
  <add key="CertificationSak" value="" />
</configuration>