<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Authorization provider URIs -->
  <add key="ProductionAuthorizerUri" value="https://micropos.stone.com.br/" />
  <add key="TestingAuthorizerUri" value="https://poistaging.stone.com.br" />
  <add key="CertificationAuthorizerUri" value="https://cert-pos.stone.com.br/" />
  
  <!-- Terminal Management Service URIs -->
  <add key="ProductionTmsUri" value="https://tms.stone.com.br" />
  <add key="TestingTmsUri" value="https://tms-integration.stone.com.br/" />
  <add key="CertificationTmsUri" value="https://tms-dev.stone.com.br" />
  
</configuration>
